/* 1024부턴 PC 기준으로 CHECK 그 아래 창을 줄이거나 모발일 최소 1024px  */
@media (min-width : 1024px) and (max-width : 1920px) {
    #__next { position: relative; width : 100%; }
}
@media (min-width : 0px) and (max-width : 1350px) {
    #__next { position: relative; width : 1350px;}
}


/* common */
/* input & button */
input { border : none; border-bottom: 0.1px solid #e8e8e8; }
input:focus { outline : none; border-bottom: 0.1px solid #888; }
input:focus::placeholder { color : transparent}
button { border : none }
.btn-gray{ background-color: #888; color : white}
.btn-black{ background-color: #2a2b2c; color : white}
.btn-white{ background-color: white; color : black}

/* font & 기타 */
.font_mini { font-size: 10px;}
.font_big { font-size: 30px;}
.del_line { text-decoration:line-through; } 
.icon { color : #838383;}
.arrow { margin-left :  5px;}

h1 { font-size: 50px; text-align: center; display: grid; }
h1 span:nth-child(1) { font-size: 22px; font-weight: bold; color: #2e2e2e; }
h1 span:nth-child(2) { padding-top: 5px; font-size: 12px; font-weight: bold; color: #888; }

.headerPath {height: 50px;}

.bar { width: 10px; margin-left:8px; text-align: center; color : #e8e8e8; border-left: solid 0.1px #e8e8e8; height: 11px;}
.bar2 { width: 10px; margin-left:8px; text-align: center; color : #e8e8e8; border-left: solid 0.1px #e8e8e8; height: 210px;}

/* Login */
.login {height: 800px; }
.loginBox { margin : 0 auto; height: 590px; width :500px;}
.loginTitle { text-align: center;}
.loginTitle span { font-size: 30px; font-weight: normal;}
.loginContent { margin-top :50px; padding : 0 10% 0 10%;}
.loginContent input {width : 400px; height: 50px;}
.loginContent button { width: 400px; height : 50px; margin-top:30px}
.loginPassPortBox { padding : 0 10% 0 10%;}
.passPort { width:400px; height: 40px; display:flex; margin-top:20px;}
.passPort div { width:370px; height: 26.5px; border : 0.1px solid #e8e8e8; text-align: center; padding-top:12px;}
.passPort:hover > div { border-color: #888; }
.passPort img { width:40px; height: 40px;}
.loginFind { padding : 0 10% 0 10%; display : flex; margin-top:14px; justify-content: space-around}
.loginFind .find { color : #888; font-size: 13px;}
.loginFind .find:hover { color :black} 
.loginFooter { padding : 0 10% 0 10%; }
.loginFooter button { width: 400px; height : 50px; margin-top:30px }

/* User Join*/
.userJoin { height: 900px; margin-top:40px;}
.userJoinContainer { margin : 0 auto; width :1000px;} 
.userJoinContainer .title { text-align: center; font-size: 30px; font-weight: normal; }
.userJoinBox { margin-top:60px;}
.userContent { border-top : 0.1px solid #e8e8e8; height: 38px; padding-top:12px; }
.userContent span:nth-child(1) { margin-top : 4px;display : inline-block; width: 120px; padding-left : 40px;}
.userContent span { font-size: 11px;}
.userContent input { width : 300px; height: 25px; border: 0.1px solid #e8e8e8; border-radius: 5px;}
.userContent input:focus { border-color: #888;}
.userContent .addr { display: inline-grid; }
.userContent .addr div:not(:first-child) { margin-top: 7px;}
.userContent .addr span{ width: 70px; font-size: 10px;}
.userContent .addr button{ margin-left:3px; height: 25px; border: 0.1px solid #e8e8e8; border-radius: 5px; font-size: 10px;}
.userContent .addr button:hover{ border-color: #888;}
.userJoinBox .userContent:nth-child(6) { height: 110px;}
.userJoinFooter button { margin-top: 140px;width:1000px; height: 80px;}

/* Basket */
.basket {  margin-top:40px;}
.basketContainer { margin : 0 auto; width :1000px; }
.basketContainer .title { text-align: center; font-size: 30px; font-weight: normal; }
.basketBox { margin-top:60px; }
.basketBox table { width :1000px; margin: 0 auto; text-align: center; }
.basketBox table thead{ border: 0.1px solid #e8e8e8; text-align: center; }
.basketBox table thead td { height: 30px; }
.basketBox table tbody{ border: 0.1px solid #e8e8e8; text-align: center; }
.basketBox td { vertical-align : middle; font-size:13px; color : #888; } 
.basketItem { height: 100px; } 
.basketItem td img{ width:60%; height: 50%;}
.basketItemPrice { height: 100px; }
.basketItemPrice td { font-size: 16px; color:#343333; border-top: 0.1px solid #e8e8e8;}
.basketButtonBox { width:1000px; display : inline;}
.basketButtonBox button { margin-top : 30px; margin-bottom: 10px; width: 80px; height: 30px;}
.basketButtonBox button:not(:first-child) { margin-left : 10px; }
.basketCareBox { display : grid; padding-top:10px; }
.basketCareBox span { padding-top:4px; color : #888; display:list-item}
.basketOrderBox { height: 130px; }
.basketOrderBox button { height: 70px; width: 1000px; margin-top : 30px;}


/* Banner */
.banner { width: 100%; height: 70px; background-color: yellow; }
.banner img{ width:100%; height: 100%; }


/* NavBar */
.navBar {height: 20%; background-color: white; text-align: center}
.navBar img { width: 14%; height: 80%;}
.navBar ul { text-align: center; border-top: solid black 1px; list-style: none; height: 19%;}
.navBar ul li { position : relative; display:inline-block; width : 100px; text-decoration: none; transition-duration: 0.5s; padding:12px; }
.navBar ul li:hover { cursor: pointer; }
.navBar ul li a { height: 100%; color: black;}
.navBar ul li ul { background-color: #FFFFFFF2; visibility: hidden; opacity: 0; position:absolute; transition:all 0.5s ease; display: none; bottom: -8px; right: 0px; z-index: 20}
.navBar ul li ul li { background-color: #FFFFFFF2; border : 1px solid #ddd;}
.navBar ul li ul li:hover {background-color: #ddd;}
.navBar ul li:hover > ul, .navBar ul li ul:hover { visibility: visible; opacity: 1; display: block; }
.navBarFixed { height: 76px; position: fixed; top:0; left:0; right: 0; z-index:999; animation-name: jarvis; animation-duration:1s; animation-duration: leaner; animation-iteration-count:1; animation-direction:alternate; animation-fill-mode: forwards; }
.navBarFixed ul li { padding-top:19px;}
@-webkit-keyframes jarvis { 0% { top:-50px; } 100% { left:0px; }}


/* UserInfo */
.userInfo { height: 30px; display: flex; justify-content: space-between; width:96%; margin: 0 auto;}
.userInfo div { margin-top:7px; display: flex;}
.userInfo div span{ font-size: 8px; }

/* Body */
.body { height: 100%; background-color: white;}

/* ImageBanner */
.imageBanner {height: 500px; background-color: indigo;}
.imageBanner img { width:100%; height: 100%;}

/* Popularity */
.Popularity {height: 700px; background-color: ivory; width : 1343.3px;  margin:0 auto; padding-top: 80px;}

/* imageCard */
.card {width: 100%; height: 400px; margin : 50px 10px 100px 0px;}
.card_title { font-size: 13px; font-weight: 600;}
.imageCard  { background-color: white;  width: 328.3px; height: 400px;}
.salesPrice { color : red}
.boxHide { opacity: 0; position: relative; float:right; top:35px; width:36px; height: 36px;}
.salesPercent { opacity: 0; position: relative; float:right; top:35px; width:36px; color: #fff; height: 36px; background-color: rgba(35,35,35,0.95); font-size: 14px; text-align: center; line-height: 2.5; font-weight : 600;}
.imageBoard_card:hover > .salesPercent{ opacity: 1; animation-name: salesAny; animation-duration:0.5s; animation-duration: leaner; animation-iteration-count:1; animation-direction:alternate; animation-fill-mode: forwards;} 
@-webkit-keyframes salesAny { 0% { top:30px; } 100% { left:0px; }}

/* Slide */
.Slide { height : 100%; width : 100%; display: flex; position: relative; overflow:hidden;}
.Popularity h1 { padding-top:2% }
.Slide svg { position: absolute; z-index: 10; top:7.5%;  height:60%; opacity: 0.5; width:50px; left:0.3%}
.Slide svg:nth-child(1){ left : 96%;} 
.Slide_Container { height : 100%; width : 100%;  display: flex;  transition: 0.6s;}

/* newProduct */
.newProduct {height: 1400px;}

/* Review */
.review {height: 1400px;}


/* newProduct & Review */
.imageBoard { height: 100%; padding:4% 14% 0% 14%; margin:0 auto;}
.imageBoard_card { margin:0 5px 0 5px; display: inline-block; width : 30%; height :41%;padding : 1%;}
.imageBoard_card img{ display:block; width:100%; height : 75%;}
.imageBoard_card div{ display: table; height:14px; font-size: 12px; padding-top: 7px;}
.icon_container span:not(:first-child) { margin-left: 10px; }
.color_container { display: flex; }
.color_container .colorBox{ display:inline-block; height: 5px; width:25px; }
.info_container span { color:#555555 }


/* Footer */
.footer {height: 400px; background-color: white; border-top: 1px solid black;}
.footer .footer_top {height: 50px; border: 1px solid #e8e8e8;}
.footer .footer_top div { padding : 10px 0; border:none; font-size : 11px; display:flex; justify-content: space-between;}
.footer .footer_top div:nth-child(1) { padding-left : 20px;}
.footer .footer_top div:nth-child(2) { padding-right : 40px;}
.footer .footer_body { height: 230px; padding : 60px 100px 60px 100px; width:75%;}
.footer .footer_body ul { border:none; display:flex; justify-content: space-between; }
.footer .footer_body ul li{ display : table-cell}
.footer .footer_body ul li:first-child div { padding-top: 30px; width:330px;}
.footer .font_mini { color : #888888; font-weight: 600;}
.footer .font_big { font-weight: 600;}
.footer .footer_body ul li:nth-child(n+2) div:nth-child(n+2){ padding-top: 30px;}
